@model ContactPro.Models.ViewModels.EmailContactViewModel

<div class="modal-header">
	<h5 class="modal-title fs-5" id="EmailContactModalLabel">Email Contact</h5>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
	<input type="hidden" asp-for="@Model.EmailData.GroupName" />
	<div class="row row-cols-1 row-cols-md-2 g-3 mb-3">
		<div class="col col-md-12">
			<label asp-for="@Model.EmailData.EmailAddress" class="form-label">To:</label>
			<textarea type="email" readonly class="form-control" asp-for="@Model.EmailData.EmailAddress" rows="3"></textarea>
		</div>
	</div>
	<div class="row row-cols-1 g-3">
		<div class="col">
			<label asp-for="@Model.EmailData.Subject" class="form-label">Subject:</label>
			<input type="text" class="form-control" asp-for="@Model.EmailData.Subject" />
		</div>
		<div class="col">
			<label asp-for="@Model.EmailData.Body" class="form-label">Message:</label>
			<textarea class="form-control" rows=10 asp-for="@Model.EmailData.Body" required></textarea>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
	<button class="btn btn-lg btn-primary" type="submit">Send</button>
</div>