@using ContactPro.Services.Interfaces
@model ContactPro.Models.Category

@inject IImageService ImageService

<a asp-action="Index" asp-controller="Categories">< ALL CATEGORIES</a>

<h1>@Model.Name</h1>

<div class="col col-md-10">
	<div class="row row-cols-md-3 g-3">
		@foreach (var contact in Model.Contacts)
		{
			<div class="col">
				<div class="card mb-3 h-100">
					<a asp-controller="Contacts" asp-action="Details" asp-route-id="@contact.Id">
						<img class="card-img-top" src='@ImageService.ConvertByteArrayToFile(contact.ImageData!, contact.ImageType!)' alt="...">
					</a>
					<div class="card-body">
						<h5 class="card-title">@Html.DisplayFor(modelItem => contact.FullName)</h5>
						<div class="fs-4">
							<a class="me-3 editIcons" asp-controller="Contacts" asp-action="EmailContact" asp-route-id="@contact.Id"><i class="bi bi-envelope-fill "></i></a>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>
