@model IEnumerable<ContactPro.Models.Category>

@{
	ViewData["Title"] = "Index";
}

<h1>Categories</h1>
<div class="row row-cols-md-3 g-3">
	@foreach (var category in Model)
	{
		<div class="col">
			<div class="card mb-3" style="width: 18rem;">
				<a class="text-decoration-none" asp-action="Details" asp-route-id="@category.Id">
					<div class="card-body text-center">
						<h5 class="card-title">@category.Name</h5>
						<p class="card-text">@category.Contacts.Count()</p>
					</div>
				</a>
				<div class="card-footer">
					<ul class="d-flex justify-content-center list-unstyled">
						<li class="me-3">
							<a class="editIcons" asp-action="Edit" asp-route-id="@category.Id"><i class="bi bi-pencil-fill"></i></a>
						</li>
						<li class="me-3">
							<a class="editIcons" asp-action="EmailCategory" asp-route-id="@category.Id"><i class="bi bi-envelope-fill"></i></a>
						</li>
						<li>
							<a class="editIcons text-danger" asp-action="Delete" asp-route-id="@category.Id"><i class="bi bi-trash-fill "></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	}
</div>

@section scripts {
	<!--Sweet Alerts-->
	<script>
		let message = '@(ViewBag.SwalMessage)';

		if (!message.includes("Error") && message != '') {
			Swal.fire({
				backdrop: false,
				icon: 'success',
				title: message,
				showConfirmButton: true
			})
		} else if (message.includes("Error")) {
			Swal.fire({
				backdrop: false,
				icon: 'error',
				title: 'Oops...',
				text: message
			})
		}
	</script>
}