@using ContactPro.Services.Interfaces
@model ContactPro.Models.Contact

@inject IImageService ImageService

@{
	ViewData["Title"] = "Details";
}

<div>
	<div>
		<a asp-action="Index"><i class="bi bi-chevron-left"></i>All Contacts</a>
	</div>
	<div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="flex-grow-1">@Model.FullName</h1>
		<div class="btn-group me-2">
			<button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#editBackdrop">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
					<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
				</svg>
				Edit
			</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#deleteModal">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
					<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
				</svg>
				Delete
			</button>
		</div>
	</div>
	<div class="row ">
		<div class="col-12 col-md-4 col-lg-4 mb-3">
			<div class="square-img-container">
				@if (Model.ImageData != null)
				{
					<img id="contactImage" class="square-img" src="@ImageService.ConvertByteArrayToFile(Model.ImageData, Model.ImageType)" />
				}
				else
				{
					<img id="contactImage" class="square-img" src="~/img/DefaultContactImage.png">
				}
			</div>
		</div>

		<div class="col-12 col-md-8 col-lg-8">
			<dl class="row">
				<dt class="col-1 col-sm-1"><i class="bi bi-cake2-fill"></i></dt>
				<dd class="col-11 col-sm-11">
					@Html.DisplayFor(model => model.BirthDate)
				</dd>
				<dt class="col-1 col-sm-1"><i class="bi bi-geo-alt-fill"></i></dt>
				<dd class="col-11 col-sm-11">
					@Model.Address1 @Model.Address2
				</dd>
				<dt class="col-1 col-sm-1"></dt>
				<dd class="col-11 col-sm-11">
					@Model.City, @Model.State @Model.ZipCode
				</dd>
				<dt class="col-1 col-sm-1"></dt>
				<dd class="col-11 col-sm-11">
					@Model.ZipCode
				</dd>
			</dl>
			<div class="row row-cols-1">
				<div class="col mb-3">
					<a asp-controller="Contacts" asp-action="EmailContact" asp-route-id="@Model.Id" class="btn btn-lg btn-primary">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
							<path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z" />
						</svg>
						@Model.Email
					</a>
				</div>
				<div class="col">
					<a href="tel:@Model.PhoneNumber" class="btn btn-lg btn-primary">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
						</svg>
						@Model.PhoneNumber
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Edit Modal -->
<form asp-action="Edit" asp-controller="Contacts" enctype="multipart/form-data" method="post">
	<div class="modal fade" id="editBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="editBackdropLabel">Update Contact</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row g-3 p-2">
						<input type="hidden" asp-for="Id" />
						<input type="hidden" asp-for="AppUserID" />
						<input type="hidden" asp-for="Created" />
						<input type="hidden" asp-for="ImageData" />
						<input type="hidden" asp-for="ImageType" />

						<div class="col-12 col-lg-4">
							<div class="square-img-container">
								@if (Model.ImageData != null)
								{
									<img id="contactImage" class="square-img" src="@ImageService.ConvertByteArrayToFile(Model.ImageData, Model.ImageType)" />
								}
								else
								{
									<img id="contactImage" class="square-img" src="~/img/DefaultContactImage.png">
								}
							</div>
						</div>
						<div class="col-12">
							<input asp-for="ImageFile" class="form-control" accept=".png,.jpg,.jpeg,.gif" onchange="document.getElementById('contactImage').src = window.URL.createObjectURL(this.files[0])" />
							<span asp-validation-for="ImageFile" class="text-danger"></span>
						</div>
						<div class="col-12 mt-2">
							<label asp-for="FirstName" class="control-label"></label>
							<input asp-for="FirstName" class="form-control" />
							<span asp-validation-for="FirstName" class="text-danger"></span>
						</div>
						<div class="col-12 mt-2">
							<label asp-for="LastName" class="control-label"></label>
							<input asp-for="LastName" class="form-control" />
							<span asp-validation-for="LastName" class="text-danger"></span>
						</div>
						<div class="col-12 mt-2">
							<label asp-for="Email" class="control-label"></label>
							<input asp-for="Email" class="form-control" />
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>
						<div class="col-12 mt-2">
							<label asp-for="PhoneNumber" class="control-label"></label>
							<input asp-for="PhoneNumber" class="form-control" />
							<span asp-validation-for="PhoneNumber" class="text-danger"></span>
						</div>
						<div class="col-12 mt-2">
							<label asp-for="Address1" class="control-label"></label>
							<input asp-for="Address1" class="form-control" />
							<span asp-validation-for="Address1" class="text-danger"></span>
						</div>
						<div class="col-12 mt-2">
							<label asp-for="Address2" class="control-label"></label>
							<input asp-for="Address2" class="form-control" />
							<span asp-validation-for="Address2" class="text-danger"></span>
						</div>
						<div class="col-12 mt-2">
							<label asp-for="City" class="control-label"></label>
							<input asp-for="City" class="form-control" />
							<span asp-validation-for="City" class="text-danger"></span>
						</div>
						<div class="col-6 mt-2">
							<label asp-for="State" class="control-label"></label>
							<select asp-for="State" class="form-control" asp-items="ViewBag.StatesList"></select>
							<span asp-validation-for="State" class="text-danger"></span>
						</div>
						<div class="col-6 mt-2">
							<label asp-for="ZipCode" class="control-label"></label>
							<input asp-for="ZipCode" class="form-control" />
							<span asp-validation-for="ZipCode" class="text-danger"></span>
						</div>
						<div class="col-12 mt-3">
							<label asp-for="Categories" class="control-label"></label>
							<select name="CategoryList" class="form-control" asp-items="ViewBag.CategoryList" multiple></select>
						</div>
						<div class="col-12 mt-3">
							<label asp-for="BirthDate" class="control-label"></label>
							<input asp-for="BirthDate" class="form-control" />
							<span asp-validation-for="BirthDate" class="text-danger"></span>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-lg btn-primary">Update</button>
				</div>
			</div>
		</div>
	</div>
</form>

<!-- Delete Modal -->
<form asp-action="Delete" asp-controller="Contacts" enctype="multipart/form-data" method="post">
	<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="deleteModalLabel">Delete contact</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<input type="hidden" asp-for="Id" />
					<p>You are about to delete this contact, are you sure?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-danger">Delete</button>
				</div>
			</div>
		</div>
	</div>
</form>
