@using ContactPro.Services.Interfaces
@model ContactPro.Models.Contact

@inject IImageService ImageService

@{
	ViewData["Title"] = "Details";
}

<div>
	<div>
		<a asp-action="Index"><i class="bi bi-chevron-left"></i>All Contacts</a>
	</div>
	<div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="flex-grow-1">@Model.FullName</h1>
		<div class="btn-group me-2">
			<button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#editBackdrop">
				<i class="bi bi-pencil"></i>Edit
			</button>
			<button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#deleteModal">
				<i class="bi bi-trash3"></i>Delete
			</button>
		</div>
	</div>
	<div class="row ">
		<div class="col-12 col-md-4 col-lg-4 mb-3">
			<div class="square-img-container">
				@if (Model.ImageData != null)
				{
					<img id="contactImage" class="square-img" src="@ImageService.ConvertByteArrayToFile(Model.ImageData, Model.ImageType)" />
				}
				else
				{
					<img id="contactImage" class="square-img" src="~/img/DefaultContactImage.png">
				}
			</div>
		</div>

		<div class="col-12 col-md-8 col-lg-8">
			<dl class="row">
				<dt class="col-1 col-sm-1"><i class="bi bi-cake2-fill"></i></dt>
				<dd class="col-11 col-sm-11">
					@Html.DisplayFor(model => model.BirthDate)
				</dd>
				<dt class="col-1 col-sm-1"><i class="bi bi-geo-alt-fill"></i></dt>
				<dd class="col-11 col-sm-11">
					@Model.Address1 @Model.Address2
				</dd>
				<dt class="col-1 col-sm-1"></dt>
				<dd class="col-11 col-sm-11">
					@Model.City, @Model.State @Model.ZipCode
				</dd>
				<dt class="col-1 col-sm-1"></dt>
				<dd class="col-11 col-sm-11">
					@Model.ZipCode
				</dd>
			</dl>
			<div class="row row-cols-1">
				<div class="col mb-3">
					<a asp-controller="Contacts" asp-action="EmailContact" asp-route-id="@Model.Id" class="btn btn-lg btn-primary">
						<i class="bi bi-envelope-fill"></i>&emsp;@Model.Email
					</a>
				</div>
				<div class="col">
					<a href="tel:@Model.PhoneNumber" class="btn btn-lg btn-primary">
						<i class="bi bi-telephone-fill"></i>&emsp;@Model.PhoneNumber
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Edit Modal -->
<form asp-action="Edit" asp-controller="Contacts" enctype="multipart/form-data" method="post">
	<div class="modal fade" id="editBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="editBackdropLabel">Update Contact</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row g-3 p-2">
						<input type="hidden" asp-for="Id" />
						<input type="hidden" asp-for="AppUserID" />
						<input type="hidden" asp-for="Created" />
						<input type="hidden" asp-for="ImageData" />
						<input type="hidden" asp-for="ImageType" />

						<div class="col-12 col-lg-4">
							<div class="square-img-container">
								@if (Model.ImageData != null)
								{
									<img id="contactImage" class="square-img" src="@ImageService.ConvertByteArrayToFile(Model.ImageData, Model.ImageType)" />
								}
								else
								{
									<img id="contactImage" class="square-img" src="~/img/DefaultContactImage.png">
								}
							</div>
						</div>
						<div class="col-12">
							<input asp-for="ImageFile" class="form-control" accept=".png,.jpg,.jpeg,.gif" onchange="document.getElementById('contactImage').src = window.URL.createObjectURL(this.files[0])" />
							<span asp-validation-for="ImageFile" class="text-danger"></span>
						</div>
						<div class="col-12 mt-2">
							<label asp-for="FirstName" class="control-label"></label>
							<input asp-for="FirstName" class="form-control" />
							<span asp-validation-for="FirstName" class="text-danger"></span>
						</div>
						<div class="col-12 mt-2">
							<label asp-for="LastName" class="control-label"></label>
							<input asp-for="LastName" class="form-control" />
							<span asp-validation-for="LastName" class="text-danger"></span>
						</div>
						<div class="col-12 mt-2">
							<label asp-for="Email" class="control-label"></label>
							<input asp-for="Email" class="form-control" />
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>
						<div class="col-12 mt-2">
							<label asp-for="PhoneNumber" class="control-label"></label>
							<input asp-for="PhoneNumber" class="form-control" />
							<span asp-validation-for="PhoneNumber" class="text-danger"></span>
						</div>
						<div class="col-12 mt-2">
							<label asp-for="Address1" class="control-label"></label>
							<input asp-for="Address1" class="form-control" />
							<span asp-validation-for="Address1" class="text-danger"></span>
						</div>
						<div class="col-12 mt-2">
							<label asp-for="Address2" class="control-label"></label>
							<input asp-for="Address2" class="form-control" />
							<span asp-validation-for="Address2" class="text-danger"></span>
						</div>
						<div class="col-12 mt-2">
							<label asp-for="City" class="control-label"></label>
							<input asp-for="City" class="form-control" />
							<span asp-validation-for="City" class="text-danger"></span>
						</div>
						<div class="col-6 mt-2">
							<label asp-for="State" class="control-label"></label>
							<select asp-for="State" class="form-control" asp-items="ViewBag.StatesList"></select>
							<span asp-validation-for="State" class="text-danger"></span>
						</div>
						<div class="col-6 mt-2">
							<label asp-for="ZipCode" class="control-label"></label>
							<input asp-for="ZipCode" class="form-control" />
							<span asp-validation-for="ZipCode" class="text-danger"></span>
						</div>
						<div class="col-12 mt-3">
							<label asp-for="Categories" class="control-label"></label>
							<select name="CategoryList" class="form-control" asp-items="ViewBag.CategoryList" multiple></select>
						</div>
						<div class="col-12 mt-3">
							<label asp-for="BirthDate" class="control-label"></label>
							<input asp-for="BirthDate" class="form-control" />
							<span asp-validation-for="BirthDate" class="text-danger"></span>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-lg btn-primary">Update</button>
				</div>
			</div>
		</div>
	</div>
</form>

<!-- Delete Modal -->
<form asp-action="Delete" asp-controller="Contacts" enctype="multipart/form-data" method="post">
	<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="deleteModalLabel">Delete contact</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<input type="hidden" asp-for="Id" />
					<p>You are about to delete this contact, are you sure?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-danger">Delete</button>
				</div>
			</div>
		</div>
	</div>
</form>
